DistanciaCuerpoCeleste.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="getDistancia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDistanciaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getDistanciaRequest">
        <wsdl:part name="parameters" element="ns:getDistancia"/>
    </wsdl:message>
    <wsdl:message name="getDistanciaResponse">
        <wsdl:part name="parameters" element="ns:getDistanciaResponse"/>
    </wsdl:message>
    <wsdl:portType name="DistanciaCuerpoCelestePortType">
        <wsdl:operation name="getDistancia">
            <wsdl:input message="ns:getDistanciaRequest" wsaw:Action="urn:getDistancia"/>
            <wsdl:output message="ns:getDistanciaResponse" wsaw:Action="urn:getDistanciaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DistanciaCuerpoCelesteSoap11Binding" type="ns:DistanciaCuerpoCelestePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDistancia">
            <soap:operation soapAction="urn:getDistancia" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DistanciaCuerpoCelesteSoap12Binding" type="ns:DistanciaCuerpoCelestePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getDistancia">
            <soap12:operation soapAction="urn:getDistancia" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DistanciaCuerpoCelesteHttpBinding" type="ns:DistanciaCuerpoCelestePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getDistancia">
            <http:operation location="getDistancia"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DistanciaCuerpoCeleste">
        <wsdl:port name="DistanciaCuerpoCelesteHttpSoap11Endpoint" binding="ns:DistanciaCuerpoCelesteSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/DistanciaCuerpoCeleste"/>
        </wsdl:port>
        <wsdl:port name="DistanciaCuerpoCelesteHttpSoap12Endpoint" binding="ns:DistanciaCuerpoCelesteSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/DistanciaCuerpoCeleste"/>
        </wsdl:port>
        <wsdl:port name="DistanciaCuerpoCelesteHttpEndpoint" binding="ns:DistanciaCuerpoCelesteHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/DistanciaCuerpoCeleste"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
